# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/front/node_modules
/back/node_modules

# testing
/front/coverage

# dependencies (root: Playwright)
/node_modules

# e2e artifacts
/e2e/test-results
/e2e/playwright-report
/test-results
/playwright-report
/.last-run.json

# production
/front/build
/front/dist

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*

/back/npm-debug.log*
/back/yarn-debug.log*
/back/yarn-error.log*


.env
/back/.env