
$color4: #011627; //rgba(1, 22, 39, 100)
$color5: #fdfffc; //rgba(253, 255, 252, 100)
$color3: #2ec4b6; //rgba(46, 196, 182, 100)
$color1: #e71d36; //rgba(231, 29, 54, 100)
$color2: #ff9f1c; //rgba(255, 159, 28, 100)
$dark-neutral: $color4;
$light-neutral: $color5;
$neutral: $color3*1.3; 
$dark-heat: $color1;
$light-heat: $color2;

// COLORS
body {
	background-color: $light-neutral;
}
.panel-primary {
	border-color: $dark-neutral;
}
.page-header, .panel-primary > .panel-heading {
	color: $light-neutral;
	background-color: $dark-heat;
}
.label-primary {
	background-color: $light-heat; 
	color:$light-neutral;
	border-color: $dark-heat;
}
.btn {
	background-color: $light-heat;
	color: $light-neutral;
}
.btn:hover {
	background-color: $light-heat;
	color: $dark-neutral;
}

#maintable.table-striped > tbody > tr:nth-child(2n+1) > td {
	background-color: $neutral; 
	color: $dark-neutral;
}

#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:hover,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:focus {
	color: $dark-heat;
}

#maintable.table-striped > tbody > tr:nth-child(2n) > td {
	background-color: $light-neutral;
	color:  $dark-neutral;
}

a, a:hover, a:focus {
	color: $dark-heat!important;	
}

input.form-control {
	background-color: #FDFDFD;
}