/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
body {
  background-color: #00ffff;
}
.panel-primary {
  border-color: #00ffff;
}
.page-header,
.panel-primary > .panel-heading {
  color: #F7F7F7;
  background-color: #008282;
}
.label-primary,
.btn.btn-primary {
  background-color: #1a60ff;
  color: #F7F7F7;
  border-color: #1a60ff;
}
.btn.btn-primary:hover {
  background-color: #7fa6ff;
}
.btn {
  background-color: #00ad00;
  color: #F7F7F7;
}
.btn:hover {
  background-color: #00ff00;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #a4ffff;
  color: #333333;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:hover,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:focus {
  color: #002c91;
}
#maintable.table-striped > tbody > tr:nth-child(2n) > td {
  background-color: #F7F7F7;
  color: #333333;
}
a,
a:hover,
a:focus {
  color: #008282 !important;
}
input.form-control {
  background-color: #F7F7F7;
}
