/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
body {
  background-color: rgba(170, 145, 57, 0.5);
}
.panel-primary {
  border-color: rgba(170, 145, 57, 0.5);
}
.page-header,
.panel-primary > .panel-heading {
  color: #F7F7F7;
  background-color: #806815;
}
.label-primary,
.btn.btn-primary {
  background-color: #aaa439;
  color: #F7F7F7;
  border-color: #aaa439;
}
.btn.btn-primary:hover {
  background-color: #d4cf6a;
}
.btn {
  background-color: #805615;
  color: #F7F7F7;
}
.btn:hover {
  background-color: #aa7e39;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #ffecaa;
  color: #333333;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:hover,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:focus {
  color: #807a15;
}
#maintable.table-striped > tbody > tr:nth-child(2n) > td {
  background-color: #F7F7F7;
  color: #333333;
}
a,
a:hover,
a:focus {
  color: #806815 !important;
}
input.form-control {
  background-color: #F7F7F7;
}
