/*
@color-primary-0: #3E9191;	
@color-primary-1: #EFFBFB;
@color-primary-2: #89CBCB;
@color-primary-3: #187272;
@color-primary-4: #003939;

@color-secondary-1-0: #4F68A2;
@color-secondary-1-1: #F1F4FC;
@color-secondary-1-2: #96A9D4;
@color-secondary-1-3: #25407F;
@color-secondary-1-4: #06173F;

@color-secondary-2-0: #53C253;
@color-secondary-2-1: #F1FDF1;
@color-secondary-2-2: #9AE59A;
@color-secondary-2-3: #209820;
@color-secondary-2-4: #004C00;
*/
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
body {
  background-color: #2C4870;
}
.panel-primary {
  border-color: #2C4870;
}
.page-header,
.panel-primary > .panel-heading {
  color: #F7F7F7;
  background-color: #0B2141;
}
.label-primary,
.btn.btn-primary {
  background-color: #AA9339;
  color: #F7F7F7;
  border-color: #AA9339;
}
.btn.btn-primary:hover {
  background-color: #F2DD8A;
}
.btn {
  background-color: #622D09;
  color: #F7F7F7;
}
.btn:hover {
  background-color: #AA6539;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td {
  background-color: #BCCCE4;
  color: #333333;
}
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:hover,
#maintable.table-striped > tbody > tr:nth-child(2n+1) > td > a:focus {
  color: #625009;
}
#maintable.table-striped > tbody > tr:nth-child(2n) > td {
  background-color: #F7F7F7;
  color: #333333;
}
a,
a:hover,
a:focus {
  color: #0B2141 !important;
}
input.form-control {
  background-color: #F7F7F7;
}
