@import 'theme.css';

input {
  min-width: 150px;
}

input[type='text'], input[type='password'] {
  border: 0;
  border-bottom: 1px solid;
  padding: 8px;
  background-color: transparent!important;
  margin: 0;
}

/* désactivation couleur chrome autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}


input[type='submit'], button {
  border: 0px;
  padding: 5px;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  margin: 5px;
}

a {
  color: var(--secondary);
}


/* custom classes */


.primary {
  background-color: var(--primary1);
  color: var(--primary2);
}

.secondary {
  background-color: var(--secondary);
  color: var(--primary2);
}

.flash {
  background-color: var(--flash);
  color: var(--primary2);
}

.danger {
  color: var(--danger);
  font-size: 0.8rem;
  font-weight: bold
}

.info {
  background-color: var(--info);
  color: var(--secondary);  
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .flex-xs {
    flex-direction: column;
  }
}
@media only screen and (min-width: 501px) {
  .flex-xs {
    flex-direction: row;
  }
}

.left {
  text-align: left;
}

.flex-left {
  justify-content: start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.margin-small {
  margin: 10px;
}
.padding-small {
  padding: 5px;
}

.badge {
  font-size: small;
  padding: 7px;
  min-width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 20px;
  font-size: 0.6rem;
  cursor: default;
  opacity: 0.9;
}

.badge:hover {
  opacity: 1;
}

.round-badge {
  border-radius: 50%;
}
