@import 'theme.css';

/* @keyframes App-logo-spin {
  from { transform: rotate(-10deg); }
  to { transform: rotate(10deg); }
} */

input {
  min-width: 150px;
}


input[type='submit'], button {
  border: 0px;
  padding: 5px;
}

.round {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
  margin: 5px;
}

a {
  color: var(--secondary);
}


/* custom classes */


.primary {
  background-color: var(--primary1);
  color: white;
}

.secondary {
  background-color: var(--secondary);
  color: white;
}

.flash {
  background-color: var(--flash);
  color: white;
}

.danger {
  background-color: var(--danger);
  color: white;  
}

.info {
  background-color: var(--info);
  color: var(--secondary);  
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  text-align: left;
}

.flex-left {
  justify-content: start;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.bottomright {
  bottom: 10px;
  right: 10px;
}

.badge {
  font-size: small;
  padding: 5px;
  min-width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
}

.round-badge {
  border-radius: 50%;
}
