@media only screen and (min-width: 401px) {
    .table {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.table {
    justify-content: space-between;
    align-items: flex-start; /* when big row, others should not stretch */
}

.col {
    padding: 4px;
    flex: 1;
}
  
.row {
    margin-top:30px;
    padding: 8px;
    color: white;
    cursor: pointer;
}

.row0 {
    background-color: var(--primary1);
} 
.row0 a {
    color: var(--flash);
}

.row1 {
    background-color: var(--flash);
}
.row1 a {
    color: var(--secondary);
}
.row1 button.flash {
    background-color: var(--primary1);
}

@media only screen and (max-width: 400px) {
    .row {
        font-size: 0.8rem;
        min-width: 35vw;
        min-height: 35vw;
    }
}

@media only screen and (min-width: 401px) {
    .row {
        min-width: 200px;
        min-height: 180px;
        width: 10vw;
        height: 10vw;
    }
}

.site-name {
    margin-right: 5px;
    margin-bottom: 4px;
}

.add i {
    font-size: 10vh;
}

form[name="rowForm"] {
    padding-bottom: 60px;
}